.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*My own css below*/
.card {
  height: 100%;
}

.summaryCard {
  width: 50%;
  display: inline-block;
}

nav {
  text-align: left;
}
.nav-link {
  display: inline-block;
}
header {
  padding-bottom: 56px;
}
.home1 {
  padding-bottom: 2%;
}
.spotifyrow {
  max-height: 73vh;
  overflow: scroll;
}
.home2,
.home1 {
  min-width: 80%;
}
.savedcontainer,
.summarycontainer {
  max-height: 80vh;
  overflow: scroll;
  min-width: 90%;
}
.unsavebtn {
  background-color: #985f19;
  width: 100%;
}
.selectbtn {
  background-color: #457e59;
  width: 100%;
}

/* .spotifyrow {
  max-height: 50%;
} */
/* .card {
  max-height: 50%;
} */
